h1 {color:white;   }

.smallButton
{
	size: 5%;
}
.navbar .navbar-default .navbar-fixed-top {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: #2C3E50; 
   padding: 20px 10px 20px 10px;
}
 #mainNav .navbar-nav li.nav-item a.nav-link  {
      color: white; }

      #welcome
      {
      	color:white;
      	size: 50px

      }

      .jumbotron
      {		padding-top: 90px;
      		display: flex;
  			align-items: center;
  			border: 5px solid rgba(0, 0, 0, 0.3);
			background: white; 
      }

      .img-fluid
      {
      	display:block;
      	margin: auto;
      	padding-top: 1px;
      	width: 25%;
      	height: 25%;
      	border-radius: 65px;
      	border: 1px solid rgba(0, 0, 0, 0.3);

      }